---
http_interactions:
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=4fgqSdAIK60ysVK99kQ8F6Yvckw82sqr&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 10 Aug 2022 13:41:06 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":39.739154,"lng":-104.984703},"displayLatLng":{"lat":39.739154,"lng":-104.984703},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=4fgqSdAIK60ysVK99kQ8F6Yvckw82sqr&type=map&size=225,160&locations=39.7391536,-104.9847034|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1969320648"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XCX","geoc[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b0137c0cc498f4cb7fca105accc445a4&lat=39.739154&lon=-104.984703
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9847,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1660138867,"sunrise":1660133246,"sunset":1660183395,"temp":295.36,"feels_like":295.05,"pressure":1019,"humidity":54,"dew_point":285.62,"uvi":1.1,"clouds":0,"visibility":10000,"wind_speed":0.45,"wind_deg":218,"wind_gust":0.89,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1660138920,"precipitation":0},{"dt":1660138980,"precipitation":0},{"dt":1660139040,"precipitation":0},{"dt":1660139100,"precipitation":0},{"dt":1660139160,"precipitation":0},{"dt":1660139220,"precipitation":0},{"dt":1660139280,"precipitation":0},{"dt":1660139340,"precipitation":0},{"dt":1660139400,"precipitation":0},{"dt":1660139460,"precipitation":0},{"dt":1660139520,"precipitation":0},{"dt":1660139580,"precipitation":0},{"dt":1660139640,"precipitation":0},{"dt":1660139700,"precipitation":0},{"dt":1660139760,"precipitati[...]
