---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b0137c0cc498f4cb7fca105accc445a4&lat=39.739154&lon=-104.984703
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9847,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1679683483,"sunrise":1679662630,"sunset":1679706912,"temp":282.76,"feels_like":281.7,"pressure":1007,"humidity":26,"dew_point":265.19,"uvi":5.54,"clouds":5,"visibility":10000,"wind_speed":2.24,"wind_deg":35,"wind_gust":4.02,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1679683500,"precipitation":0},{"dt":1679683560,"precipitation":0},{"dt":1679683620,"precipitation":0},{"dt":1679683680,"precipitation":0},{"dt":1679683740,"precipitation":0},{"dt":1679683800,"precipitation":0},{"dt":1679683860,"precipitation":0},{"dt":1679683920,"precipitation":0},{"dt":1679683980,"precipitation":0},{"dt":1679684040,"precipitation":0},{"dt":1679684100,"precipitation":0},{"dt":1679684160,"precipitation":0},{"dt":1679684220,"precipitation":0},{"dt":1679684280,"precipitation":0},{"dt":1679684340,"precipitati[...]
