---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b0137c0cc498f4cb7fca105accc445a4&lat=39.739154&lon=-104.984703
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9847,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1659939962,"sunrise":1659960332,"sunset":1660010740,"temp":290.63,"feels_like":290.63,"pressure":1019,"humidity":84,"dew_point":287.9,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":0.45,"wind_deg":167,"wind_gust":1.34,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1659940020,"precipitation":0},{"dt":1659940080,"precipitation":0},{"dt":1659940140,"precipitation":0},{"dt":1659940200,"precipitation":0},{"dt":1659940260,"precipitation":0},{"dt":1659940320,"precipitation":0},{"dt":1659940380,"precipitation":0},{"dt":1659940440,"precipitation":0},{"dt":1659940500,"precipitation":0},{"dt":1659940560,"precipitation":0},{"dt":1659940620,"precipitation":0},{"dt":1659940680,"precipitation":0},{"dt":1659940740,"precipitation":0},{"dt":1659940800,"precipitation":0},{"dt":1659940860,"precipitati[...]
