---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=chinese&location=denver,%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer dcK0F36nhxQsmZeQzwdq08ERwL7Y7hBsrZQYZW_7shB1FSI2YXw7TVbWg3VcTVN0mmEkt4Lmr1L6AGdIouGBALCSs7b3PyfTCmT0PfTvCStKj20pEf5pomvc-BERY3Yx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--useast1-95dd89757-rn8bz; site=public_api_v3
      Ratelimit-Resettime:
      - '2023-03-25T00:00:00+00:00'
      X-Zipkin-Id:
      - baa324aacc02a360
      Ratelimit-Dailylimit:
      - '5000.0'
      Ratelimit-Remaining:
      - '4993.0'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-148-97-useast1bprod
      X-Extlb:
      - 10-65-148-97-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "6kRbrLNIZKZ1fcjgsTFobg", "alias": "fortune-wok-to-table-denver",
        "name": "Fortune Wok to Table", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/FiI2H4Ox-ShtfFrd0-0MDg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/fortune-wok-to-table-denver?adjust_creative=meK_wNIK3xJ_7pLnIAVDLA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=meK_wNIK3xJ_7pLnIAVDLA",
        "review_count": 409, "categories": [{"alias": "noodles", "title": "Noodles"},
        {"alias": "dimsum", "title": "Dim Sum"}, {"alias": "shanghainese", "title":
        "Shanghainese"}], "rating": 4.5, "coordinates": {"latitude": 39.72124, "longitude":
        -104.9543}, "transactions": ["delivery"], "price": "$$", "location": {"address1":
        "2817 E 3rd Ave", "address2": "", "address3": "", "city": "Denver", "zip_code":
        "80206", "country": "US", "state": "CO", "display_address": ["2817 E 3rd Ave",
        "Denver, CO 80206"]}, "phone": "+13033217788", "display_phone": "(303) 321-7788",
        "distance": 9608.959423871273}, {"id": "xM1l4yCBHxBE6J76lNngtA", "alias":
        "pepper-asian-bistro-denver", "name": "Pepper Asian Bistro", "image_url":
        "https://s3-media2.fl.yelpcdn.com/bphoto/XPeL07Tx-rT_f51J-fuN-w/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/pepper-asian-bistro-denver?adjust_creative=meK_wNIK3xJ_7pLnIAVDLA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=meK_wNIK3xJ_7pLnIAVDLA",
        "review_count": 735, "categories": [{"alias":[...]
