---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b0137c0cc498f4cb7fca105accc445a4&lat=39.73&lon=-104.99
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.73,"lon":-104.99,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1659770215,"sunrise":1659787420,"sunset":1659838080,"temp":295.7,"feels_like":295.5,"pressure":1010,"humidity":57,"dew_point":286.76,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":2.45,"wind_deg":56,"wind_gust":3.9,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1659770220,"precipitation":0},{"dt":1659770280,"precipitation":0},{"dt":1659770340,"precipitation":0},{"dt":1659770400,"precipitation":0},{"dt":1659770460,"precipitation":0},{"dt":1659770520,"precipitation":0},{"dt":1659770580,"precipitation":0},{"dt":1659770640,"precipitation":0},{"dt":1659770700,"precipitation":0},{"dt":1659770760,"precipitation":0},{"dt":1659770820,"precipitation":0},{"dt":1659770880,"precipitation":0},{"dt":1659770940,"precipitation":0},{"dt":1659771000,"precipitation":0},{"dt":1659771060,"precipitati[...]
